*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}
  
  
#ncc {
    display: flex;
}
#left {
    background-color: #000;
    width: 150px;
    color: #fff;
    max-width: 100%;
}
#left hr {
    background-color: rgb(54, 54, 54);
    width: 150px;
    margin-left: -12px;
    border: 0.5px solid rgb(54, 54, 54);
   
}
#nav { 
    display: inline-block;  
    list-style-type: none;
    margin-left: 12px;
    line-height: 2;
}

#nav li a {
    color: #ccc;
    text-transform: uppercase;
    text-decoration: none;
    line-height:46px;
    padding:0 24px;
    display: block;
}
#nav li:hover a {
    color: #000;
    background-color: #ccc;
    width: 150px;
    margin-left: -12px;
}

#right {
    padding: 0px 56px;
}
#header {
    text-align: center;
    margin-top: 0px;
}
#header img {
    height: 156px;
}
#main {
    background: #ccc;
    text-align: center;
    padding: 24px 68px;
   
    
}

#content{
    display: flex;
    margin-top: 24px;
}
#content img {
    width: 100px;
    height: 90px;
    float: left;
    margin-right: 8px;
    max-width: 100%;

}
.css p{
    
    margin-top: 12px;
    max-width: 100%;
   padding: 12px;
   min-width: 100%;
}
#footer {
    margin-top: 96px;
    height: 120px;

}
#footer p {
    padding-left: 46px;
    padding-top: 12px;
}

